body {
    display: flex;
    flex-wrap: wrap;
    width: calc(15*40px);
}

.tile {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgb(228, 228, 228);
    box-sizing: border-box;
}

.wall {
    background-image: url(img/nuage.png);
    background-size: cover;
}

.path {
    background-color: rgb(228, 228, 228);
}

.start {
    background-color: rgb(83, 83, 83);
}

.treasure {
    background-image: url(img/Treasure.png);
    background-size: cover;
}

.border {
    background-image: url(img/Border.png);
    background-size: cover;
}

.player {
    background-image: url(img/mario.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}